{% extends "base.html" %}

{% block content %}
<h1 class="ms-5">Agregar Producto</h1>
<div class="container">
    <form action="" method="POST" class="needs-validation" enctype="multipart/form-data"> {% csrf_token %}
        <div class="form">
            <div class="form-group">
                {{form.nombre.errors}}
                <label for="{{form.nombre.id_for_label}}" class="mb-1">Nombre: </label>
                {{form.nombre}}
            </div>
            <div class="form-group">
                {{form.descripcion.errors}}
                <label for="{{form.descripcion.id_for_label}}" class="mb-1">Descripcion: </label>
                {{form.descripcion}}
            </div>
            <div class="form-group">
                {{form.precio_pen.errors}}
                <label for="{{form.precio_pen.id_for_label}}" class="mb-1">Precio: </label>
                {{form.precio_pen}}
            </div>
            <div class="form-group">
                {{form.imagen.errors}}
                <label for="{{form.imagen.id_for_label}}" class="mb-1">Imagen: </label>
                {{form.imagen}}
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button submit">Guardar</button>
        </div>
    </form>
</div>
{% endblock content %}
    
